.page {
}

.page-header {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.big-header {
  font-size: 50px;
  font-weight: 700;
}

.small-header {
  font-size: 0.7em;
  line-height: 0.8;
}

.text {
  font-size: 18px;
  line-height: 1.4;
  margin: 10px 0 22px;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 22px;
}
