.page {
}

.header {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.small-header {
  font-size: 0.5em;
  line-height: 0.8;
}

.description {
  font-size: 18px;
  line-height: 1.4;
  margin: 10px 0 22px;
  text-align: center;
}

.form {
  position: relative;
  display: flex;
  margin: 0 auto 48px;
  font-size: 16px;

  width: 200px;
  height: 200px;

  background-image: url('./field.png');
  background-size: 100% 100%;

  &-header {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 36px;
    text-align: center;
  }

  &-element {
    position: absolute;
    composes: player from '../../components/UI/Player/style.css';
  }

  &-input {
    margin-right: 4px;
  }
}

.startButton {
  display: block;
  margin: 0 auto;
  padding: 10px 22px;
}
