.language {
  position: fixed;
  bottom: 50px;
  width: inherit;
  text-align: center;
  font-size: 16px;

  a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }

  a.active {
    text-decoration: none;
    cursor: default;
  }

  a:hover {
    text-decoration: none;
  }
}
