.cell {
  display: inline-block;
  height: calc(100% - 2px);
  width: calc(5% - 2px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* water */
.player-0 {
  &.start {
    background-color: #1e90ff;
  }

  &.half {
    background-color: #45a3ff;
  }
  
  &.full {
    background-color: #1e90ff;
  }
}
/* air */
.player-1 {
  &.start {
    background-color: #cbcbcb;
  }

  &.half {
    background-color: #a4a4a4;
  }
  
  &.full {
    background-color: #696969;
  }
}
/* earth */
.player-2 {
  &.start {
    background-color: #adebad;
  }
  
  &.half {
    background-color: #5fd85f;
  }
  
  &.full {
    background-color: #228b22;
  }
}
/* fire */
.player-3 {
  &.start {
    background-color: #f5caca;
  }

  &.half {
    background-color: #e26868;
  }
  
  &.full {
    background-color: #b22222;
  }
}

.half {
  background: #64da7c;
}

.full {
  background: #239239;
}
