.cell {
  display: inline-block;
  height: 100%;
  width: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  appearance: none !important;
  background: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* water */
.player-0 {
  &.start {
    background-color: #a7d4ff;
  }

  &.half {
    background-image: linear-gradient(to left top, transparent 48.9%, #45a3ff 51%, #45a3ff 78%, transparent 80% ), linear-gradient(to left top, #45a3ff 28%, transparent 30% );
  }
  
  &.full {
    background-color: #1e90ff;
  }
}
/* air */
.player-1 {
  &.start {
    background-color: #cbcbcb;
  }

  &.half {
    background-image: linear-gradient(to left top, transparent 48.9%, #a4a4a4 51%, #a4a4a4 78%, transparent 80% ), linear-gradient(to left top, #a4a4a4 28%, transparent 30% );
  }
  
  &.full {
    background-color: #696969;
  }
}
/* earth */
.player-2 {
  &.start {
    background-color: #adebad;
  }
  
  &.half {
    background-image: linear-gradient(to left top, transparent 48.9%, #5fd85f 51%, #5fd85f 78%, transparent 80% ), linear-gradient(to left top, #5fd85f 28%, transparent 30% );
  }
  
  &.full {
    background-color: #228b22;
  }
}
/* fire */
.player-3 {
  &.start {
    background-color: #f5caca;
  }

  &.half {
    background-image: linear-gradient(to left top, transparent 48.9%, #e26868 51%, #e26868 78%, transparent 80% ), linear-gradient(to left top, #e26868 28%, transparent 30% );
  }
  
  &.full {
    background-color: #b22222;
  }
}

.half {
  background-size: 20px;
}

.full {
  background: #239239;
}
